# simple or masterReplica or cluster
nablarch.lettuce.clientType=simple

nablarch.lettuce.simple.uri=redis://localhost:6379
nablarch.lettuce.masterReplica.uri=redis-sentinel://localhost:26379,localhost:26380,localhost:26381?sentinelMasterId=masterGroupName
nablarch.lettuce.cluster.uriList=redis://localhost:6379,redis://localhost:6380,redis://localhost:6381
