nablarch.httpTestConfiguration.webBaseDir=src/main/webapp
nablarch.httpTestConfiguration.jsTestResourceDir=src/test/webapp
nablarch.httpTestConfiguration.sessionInfo.commonHeaderLoginUserName=リクエスト単体テストユーザ
nablarch.httpTestConfiguration.sessionInfo.commonHeaderLoginDate=20100914
nablarch.httpTestConfiguration.htmlCheckerConfig=src/test/resources/nablarch/test/http-request-test/html-check-config.csv
nablarch.httpTestConfiguration.checkHtml=true
nablarch.httpTestConfiguration.htmlResourcesRoot=../htmlResources
nablarch.httpTestConfiguration.backup=true
nablarch.httpTestConfiguration.htmlResourcesCharset=UTF-8
nablarch.httpTestConfiguration.dumpVariableItem=false
nablarch.httpTestConfiguration.tempDirectory=work